.LoginForm {
    width: 26em /*360px*/;
    /*padding: 8% 0 0;*/
    margin: auto;
}

.form {
    position: relative;
    background: #FFFFFF;
    display: none;
    max-width: 25em; /*360px;*/
    margin: 8% auto 8em; /*100px;*/
    padding: 4em; /*45px;*/
    text-align: center;
    box-shadow: 0 0 1.5em /*20px*/ 0 rgba(0, 0, 0, 0.2), 0 0.3em /*5px*/ 0.3em /*5px*/ 0 rgba(0, 0, 0, 0.24);
    z-index: 2;
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 1.1em /*15px*/;
        padding: 1.1em /*15px*/;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 1.1em /*15px*/;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all ease;
        transition: all ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }

        .form .register-form .create {
            background: #afbbff;
        }

            .form .register-form .create:hover, .create:active, .create:focus {
                background: #6f7fff;
            }
